In [1]:
print("Hello World!!!")

Hello World!!!

print('your's truly)

In [2]:
print("your's truly")

your's truly

# Varibles in Python

In [3]:
age=10

In [4]:
name="Sanket singh"

In [5]:
age

10

In [6]:
name

'Sanket singh'

In [7]:
print(name)

Sanket singh

In [8]:
print(name,age)

Sanket singh 10

In [9]:
x,y,z=4,50.6,"something"

In [10]:
print(x,y,z)

4 50.6 something

# Rules for declaring variable names

In [11]:
age,AGE,Age=1,2,3

In [12]:
print(age,AGE,Age)

1 2 3

In [13]:
first_name="sanket"

In [14]:
print(first_name)

sanket

In [15]:
3num=3

SyntaxError: invalid syntax (2556043088.py, line 1)

In [ ]:
num3=3

In [ ]:
first-name="Sanket"

In [ ]:
first_name="Sanket"

In [ ]:
for=10

# Data Types

In [ ]:
product_name="LG 2836 LCD monitor"
print(product_name)

In [ ]:
product_price=9999

In [ ]:
print(product_price)

In [ ]:
length_of_monitor=15.5
print(length_of_monitor)

In [ ]:
is_product_available=False
print(is_product_available)

In [ ]:
complex_number=3+8j

In [ ]:
print(complex_number)

In [ ]:
print(type(complex_number))

In [ ]:
print(type(is_product_available))

# Dynamic Data Types and literals

In [ ]:
x=10

In [ ]:
print(type(x))

In [ ]:
x=False

In [ ]:
print(type(x))

In [ ]:
x="Something in text"

In [ ]:
print(type(x))

# Taking input

In [ ]:
print("Collecting User Phone No")
user_phone_number=input()
print("User Phone number is",user_phone_number)

In [ ]:
print(type(user_phone_number))

In [ ]:
print("Collecting User Phone No")
user_phone_number_int=int(input())
print("User Phone number is",user_phone_number_int)

In [ ]:
print(type(user_phone_number_int))

In [ ]:
discount=float(input())
print(discount)
print(type(discount))

In [ ]:
x=float("19.89")

In [ ]:
print(type(x))

In [ ]:
print(x)

# Arithmetic Operations I

In [ ]:
x=10
y=8

In [ ]:
print(x+y)

In [ ]:
print(x-y)

In [ ]:
print(y-x)

In [ ]:
print(x*y)

In [ ]:
print(x/y)

In [ ]:
print(x//y)

In [ ]:
print(5/2)

In [ ]:
print(5//2)

In [ ]:
print(x%y)

In [ ]:
print(2**3)

In [ ]:
print(x+y) # This is addition operation

In [ ]:
"""
Write your comments here
line 1
line 2
line 3

"""

In [ ]:
"Sanket"+"Singh"

In [ ]:
"Sanket"-"Singh"

In [ ]:
"Sanket"*"Singh"

In [ ]:
"Sanket"*(2**5)

# Average

In [ ]:
x=int(input())
y=int(input())

In [ ]:
sumofnumbers=x+y

In [ ]:
avgofnumbers=sumofnumbers/2

In [ ]:
print(avgofnumbers)

In [ ]:
avg=(x+y)/2

In [ ]:
print(avg)

In [ ]:
x=int(input())
y=int(input())
z=int(input())
avg=(x+y+z)/3
print(avg)

# Area of right angled Triangle

In [ ]:
b=int(input("Enter the length of base "))
h=int(input("Enter the length of height "))
#Approach1
area1=0.5*b*h
print(area1)

In [ ]:
#Approach2
area2=(b*h)/2
print(area2)

In [ ]:
20//40

In [ ]:
10//2

# Type Conversion

In [ ]:
num1=input("Enter the first number")
num2=input("Enter the second number")
print(num1+num2)

In [ ]:
x=bool(4)
print(x)

In [ ]:
x=bool(-4)
print(x)

In [ ]:
x=bool(0)
print(x)

In [ ]:
y=bool(9.0)
print(y)

In [ ]:
y=bool(-9.0)
print(y)

In [ ]:
y=bool(0.0)
print(y)

In [ ]:
z=bool("abc")
print(z)

In [ ]:
z=bool("")
print(z)

In [ ]:
z=bool("    ")
print(z)

In [ ]:
z=bool("True")
print(z)

In [ ]:
z=bool("False")
print(z)

# Assignment Operator

In [ ]:
product_name="iphone"

In [ ]:
print(product_name)

In [ ]:
price=1000
discount=200
price=price-discount
print(price)

In [ ]:
price=1000
discount=200
price-=discount
print(price)

In [ ]:
marks=300
grace=5
marks+=grace
print(marks)

In [ ]:
x=10
x=x**2
print(x)

In [ ]:
x=10
x**=2
print(x)

# Comparison Operator

In [ ]:
y=4

In [ ]:
print(y)

In [ ]:
print(y<5)

In [ ]:
print(y>5)

In [ ]:
print(y==5)

In [ ]:
x=4

In [ ]:
print(y==x)  #checks if y equals to x

In [ ]:
print(y!=6)

# Logical operator

In [ ]:
print(False and False)
print(False and True)
print(True and False)
print(True and True)

In [ ]:
print(False or False)
print(False or True)
print(True or False)
print(True or True)

In [ ]:
print(not True)
print(not False)

In [ ]:
is_logged_in=True
is_address_available=True
name_of_customer="Sanket"
address_of_customer="105 Delhi"

In [ ]:
print((is_logged_in==True) and (is_address_available==True) and (name_of_customer=="Sanket"))

# Bitwise operators

In [ ]:
print(5 and 3)

In [ ]:
print(5 or 3)

In [ ]:
print(0 and 5)

In [ ]:
print(0 or 5)

In [ ]:
print(5 & 3) # bitwise and operator

In [ ]:
print(5 | 3) #bitwise or operatorr

In [ ]:
print(~5) # bitwise not operator

In [ ]:
print(5 ^ 3) # bitwise XOR operator

In [ ]:
print(5 ^ 5) # bitwise XOR operator

In [ ]:
print(5 >> 1) # bitwise right shift

In [ ]:
print(2 << 2) # bitwise left shift

In [ ]:
print(3 >> 2) # bitwise right shift

In [ ]:
print(7 >> 2) # bitwise right shift

In [ ]:
print(3 << 2) # bitwise left shift

In [ ]:
print(7 << 2) # bitwise left shift

# Precedence

In [ ]:
print((2**3+4)/2)

In [ ]:
print(2***3)

In [ ]:
print(2+3*5)

In [ ]:
print(2+3-6+8)

In [ ]:
print(2**3**4)

In [ ]:
print(2+3^5)

# Introduction to conditionals

In [ ]:
print("Starting the program")
if 10>2:
    print("Statement 1")
    print("Statement 2")
    print("Statement 3")
print("end")

In [ ]:
print("Starting the program")
if 10<2:
    print("Statement 1")
    print("Statement 2")
    print("Statement 3")
print("end")

# Even or Odd

In [ ]:
x=int(input())
if x%2==0:
    print("The given number is even")
else:
    print("The given number is odd")

# elif

In [ ]:
marks=int(input())
if marks>=90 and marks<=100:
    print("A")
elif marks>=80 and marks<=89:
    print("B")
elif marks>=70 and marks<=79:
    print("C")
else:
    print("D")

# Nested ifs

In [ ]:
x=int(input())
if x>=0:
    if x==0:
        print("zero")
    else:
        print("positive integer")
else:
    print("negative integer")

In [ ]:
x=int(input())
if x>=0:
    if x==0:
        print("zero")
    else:
        print("positive integer")
else:
    if x<-500:
        print("Too much negative")
    else:
        print("just negative")

# Ternary Operator

In [ ]:
print("hello") if 10>2 else print("No Hello")

In [ ]:
print("hello") if 10<2 else print("No Hello")

# Switch Case

In [1]:
x = 2

match x:
    case 1:
        print("Value of x is 1")
    case 2:
        print("Value of x is 2")
    case 3:
        print("Value of x is 3")
    case _:
        print("Invalid")

Value of x is 2

In [2]:
x = 22

match x:
    case 1:
        print("Value of x is 1")
    case 2:
        print("Value of x is 2")
    case 3:
        print("Value of x is 3")
    case _:
        print("Invalid")

Invalid

In [9]:
x = input()

match x:
    case "Amazon":
        print("This is Amazon")
    case "Netflix":
        print("This is Amazon")
    case "Ullu":
        print("This is Ullu")
    case _:
        print("Maybe Youtube")

 xxx

Maybe Youtube

In [11]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the Second number: "))
operator=input("Enter the operator + - * / %  ")

match operator:
    case "+":
        result=num1+num2
        print("This result is",result)
    case "-":
        result=num1-num2
        print("This result is",result)
    case "*":
        result=num1*num2
        print("This result is",result)
    case "/":
        if num2==0:
            print("Divison by zero not possible")
        else:
            result=num1/num2
            print("This result is",result)
    case "%":
        if num2==0:
            print("Divison by zero not possible")
        else:
            result=num1%num2
            print("This result is",result)
    case _:
        print("Invalid input")

Enter the first number:  25
Enter the Second number:  0
Enter the operator + - * / %   /

Divison by zero not possible

# While Loop

In [12]:
# Printing first 10 natural numbers
num=1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [13]:
# Printing Table of 3
num=3
i=1
while i<=10:
    print(num*i)
    i+=1

3
6
9
12
15
18
21
24
27
30

# Sum of numbers

In [15]:
N=int(input())
num=1
s=0
while num<=N:
    s+=num
    num+=1
print(s)

 5

15

In [16]:
N=int(input())
num=1
s=0
while num<=N:
    print(num,s) #can help in checking in case of wrong input
    s+=num
    num+=1
print(s)

 5

1 0
2 1
3 3
4 6
5 10
15

In [17]:
N=int(input())
num=1
s=0
while num<=N:
    print(num,s) #can help in checking in case of wrong input
    if num%2==0:
        s+=num
    num+=1
print(s)

 10

1 0
2 0
3 2
4 2
5 6
6 6
7 12
8 12
9 20
10 20
30

# Break Continue and Pass

In [6]:
num=1
while num<=10:
    if num%2!=0:
        num=num+1
        continue
    print(num)
    num+=1

2
4
6
8
10

In [7]:
num=1
while num<=20:
    if num==13:
        print("Stopping the loop")
        break
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11
12
Stopping the loop

In [8]:
num=1
while num<=20:
    if num==13:
        pass
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Prime or Not

In [10]:
num=2
N=int(input())
is_prime=True
while num<=N-1:
    if N%num==0:
        is_prime=False
        break
    num+=1
if is_prime:
    print("Prime No")
else:
    print("Composite No")

 10

Composite No

# Introduction to for loop

In [11]:
for num in range(3,11):
    print(num)

3
4
5
6
7
8
9
10

In [12]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [15]:
for i in range(20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [17]:
i=20
while i>=1:
    print(i)
    i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Factors

In [21]:
N=int(input())
is_prime=True
for i in range(2,N):
    if N%i==0:
        print(i, end=",")
        is_prime=False
if is_prime:
    print(-1)

 12

2,3,4,6,

# Printing individual no in reverse order

In [24]:
n=int(input())
while n>0:
    rem=n%10
    print(rem,end=" ")
    n//=10

 456008

8 0 0 6 5 4

# Fibonacci Series

In [29]:
n=int(input())
second_last_num=0
last_num=1
print(second_last_num)
print(last_num)
count=2
while count<=n:
    next_fib_num=second_last_num+last_num
    print(next_fib_num)
    second_last_num=last_num
    last_num=next_fib_num
    count+=1

 6

0
1
1
2
3
5
8

# Nth Fibonacci number

In [31]:
n=int(input())
second_last_num=0
last_num=1
# print(second_last_num)
# print(last_num)
count=2
while count<=n:
    next_fib_num=second_last_num+last_num
    # print(next_fib_num)
    second_last_num=last_num
    last_num=next_fib_num
    count+=1
print(next_fib_num)

 6

8

# Decimal to Binary

In [32]:
ans=""
n=int(input())
while n>0:
    if n%2==0:
        ans="0"+ans
    else:
        ans="1"+ans
    n//=2
print(ans)

 13

1101

# Binary to Decimal

In [37]:
n=int(input())
count=0
ans=0
while n>0:
    rem=n%10
    ans=ans+rem*(2**(count))
    count+=1
    n//=10
print(ans)

 0

0

In [38]:
#Approach 2
n=int(input())
count=1
ans=0
while n>0:
    rem=n%10
    ans=ans+rem*(count)
    count*=2
    n//=10
print(ans)

 1101

13

# Nested Loops

In [40]:
value=2
for i in range(1,11):
    print(value*i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [47]:
for value in range(1,11):
    print("Starting the Table of",value)
    for i in range(1,11):
        print(value*i,end=" ")
    print()
    print("==============================")

Starting the Table of 1
1 2 3 4 5 6 7 8 9 10
==============================
Starting the Table of 2
2 4 6 8 10 12 14 16 18 20
==============================
Starting the Table of 3
3 6 9 12 15 18 21 24 27 30
==============================
Starting the Table of 4
4 8 12 16 20 24 28 32 36 40
==============================
Starting the Table of 5
5 10 15 20 25 30 35 40 45 50
==============================
Starting the Table of 6
6 12 18 24 30 36 42 48 54 60
==============================
Starting the Table of 7
7 14 21 28 35 42 49 56 63 70
==============================
Starting the Table of 8
8 16 24 32 40 48 56 64 72 80
==============================
Starting the Table of 9
9 18 27 36 45 54 63 72 81 90
==============================
Starting the Table of 10
10 20 30 40 50 60 70 80 90 100
==============================

In [ ]:
n=1
while n<=10:
    i=1
    while i<=10:
        print(n*i,end=" ")
        i+=1
    print()
    n+=1

# First Pattern

In [ ]:
****
****
****
****

In [2]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end="")
        j+=1
    print()
    i+=1

 4

****
****
****
****

In [3]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(i,end="")
        j+=1
    print()
    i+=1

 5

11111
22222
33333
44444
55555

In [4]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(j,end="")
        j+=1
    print()
    i+=1

 5

12345
12345
12345
12345
12345

In [1]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(n+1-j,end="")
        j+=1
    print()
    i+=1

 5

54321
54321
54321
54321
54321

1
12
123
1234

In [16]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print()
    i+=1

 4

1
12
123
1234

In [ ]:
1
23
345
4567

In [18]:
n=int(input())
i=1
while i<=n:
    j=1
    p=i
    while j<=i:
        print(p,end="")
        j+=1
        p+=1
    print()
    i+=1

 4

1
23
345
4567

1
23
456
78910

In [19]:
n=int(input())
i=1
p=1
while i<=n:
    j=1
    while j<=i:
        print(p,end="")
        j+=1
        p+=1
    print()
    i+=1

 4

1
23
456
78910

# Printing the kth alphabet

In [32]:
k=int(input())
# 'A'+k-1
x=ord('A')
ascii_target=x+k-1
target_char=chr(ascii_target)
print(target_char)

 4

D

In [26]:
ord('b')

98

In [27]:
chr(65)

'A'

In [28]:
chr(66)

'B'

In [29]:
chr(67)

'C'

In [30]:
chr(68)

'D'

#Printing the pattern:

ABCD
ABCD
ABCD
ABCD

In [35]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        charP=chr(ord('A')+j-1)
        print(charP,end="")
        j+=1
    print()
    i+=1

 4

ABCD
ABCD
ABCD
ABCD

#Printing the pattern:

ABCD
BCDE
CDEF
DEFG

In [34]:
n=int(input())
i=1
while i<=n:
    j=1
    start_char=chr(ord('A')+i-1)
    while j<=n:
        charP=chr(ord(start_char)+j-1)
        print(charP,end="")
        j+=1
    print()
    i+=1

 4

ABCD
BCDE
CDEF
DEFG

# Inverted Triangle

****
***
**
*

In [36]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print("*",end="")
        j+=1
    print()
    i+=1

 4

****
***
**
*

   *
  **
 ***
****

In [41]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=(n-i):
        print(" ",end="")
        spaces=spaces+1
    stars=1
    while stars<=i:
        print("*",end="")
        stars=stars+1
    print()
    i+=1

 4

   *
  **
 ***
****

   1
  121
 12321
1234321

In [44]:
n=int(input())
i=1
while i<=n:
    #printing spaces
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    #printing increasing numbers
    numbers=1
    while numbers<=i:
        print(numbers,end="")
        numbers=numbers+1
    #printing decreasing numbers
    p=i-1
    while p>=1:
        print(p,end="")
        p=p-1
    print()
    i+=1

 4

   1
  121
 12321
1234321

1        1
12      21
123    321
1234  4321
1234554321

In [24]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    spaces=i
    p=2*n-2*i
    while spaces<=i:
        print(p*" ",end="")
        spaces+=1
    k=1
    q=i
    while k<=i:
        print(q,end="")
        k+=1
        q-=1
    print()    
    i+=1

 5

1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
   1
  212
 32123
4321234

In [42]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces+=1
    k=1
    q=i
    while k<=i:
        print(q,end="")
        q-=1
        k+=1
    l=2
    while l<=i:
        print(l,end="")
        l+=1
    print()
    i+=1

 5

    1
   212
  32123
 4321234
543212345

N=4
*000*000*
0*00*00*0
00*0*0*00
000***000

In [50]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i-1:
        print(0,end="")
        j+=1
    k=i
    while k<=i:
        print("*",end="")
        k+=1
    l=1
    while l<=n-i:
        print(0,end="")
        l+=1
    m=i
    while m<=i:
        print("*",end="")
        m+=1
    p=1
    while p<=n-i:
        print(0,end="")
        p+=1
    q=i
    while q<=i:
        print("*",end="")
        q+=1
    r=1
    while r<=i-1:
        print(0,end="")
        r+=1
    print()
    i+=1

 5

*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

N=5
__*
_***
*****
_***
__*

In [18]:
n=int(input())
i=1
p=1
while i<=n:
    spaces=1
    while spaces<=n-i-2:
        print(" ",end="")
        spaces+=1
    j=1
    while j<=i and i<=3:
        print("*",end="")
        j+=1
    k=1
    while k<=i-1 and i<=3:
        print("*",end="")
        k+=1
    l=i
    while l<=i and i>3:
        print(p*" ",end="")
        l+=1
        p+=1
    m=1
    while m<=n-i+1 and i>3:
        print("*",end="")
        m+=1
    q=1
    while q>=i-3 and i<5 and i>3:
        print("*",end="")
        q-=1
    print()
    i+=1

 5

  *
 ***
*****
 ***
  *

In [41]:
n=int(input())
i=1
p=1
while i<=n:
    spaces=1
    while spaces<=n-i-(n-1)//2:
        print(" ",end="")
        spaces+=1
    j=1
    while j<=i and i<=(n+1)//2:
        print("*",end="")
        j+=1
    k=1
    while k<=i-1 and i<=(n+1)//2:
        print("*",end="")
        k+=1
    l=i
    while l<=i and i>(n+1)//2:
        print(p*" ",end="")
        l+=1
        p+=1
    m=1
    while m<=n-i+1 and i>(n+1)//2:
        print("*",end="")
        m+=1
    q=1
    while q<=n-i and i<n and i>(n+1)//2:
        print("*",end="")
        q+=1
    print()
    i+=1

 9

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

*-
-*-*-
--*-*-*-
---*-*-*-*
--*-*-*-
-*-*-
*-

In [74]:
n=int(input())
i=1
while i<=n:
    if i==1:
        print("*",end="")   
    j=1
    while j<=(i-1) and i<=(n+1)//2:
        print(" ",end="")
        j+=1
    k=1
    while k<=i and i>1 and i<=(n+1)//2:
        print("* ",end="")
        k+=1
    l=1
    while l<=n-i and i>(n+1)//2:
        print(" ",end="")
        l+=1
    m=1
    while m<=n-i+1 and i>(n+1)//2:
        print("* ",end="")
        m+=1
        
    print()
    i+=1

 11

*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*

# Functions

In [85]:
n=int(input())
r=int(input())
n_fact=1
for i in range(1,n+1):
    n_fact*=i
r_fact=1
for i in range(1,r+1):
    r_fact*=i
n_r_fact=1
for i in range(1,(n-r)+1):
    n_r_fact*=i
n_c_r=n_fact/(r_fact*n_r_fact)
print(n_c_r)

 5
 2

10.0

In [89]:
def fact(a):
    n_fact=1
    for i in range(1,a+1):
        n_fact*=i
    return n_fact
n=int(input())
r=int(input())
n_c_r=fact(n)//(fact(r)*fact(n-r))
print(n_c_r)

 4
 2

6

# Function Examples

In [90]:
# def isprime(n):
#     for i in range(2,n):
#         if n%i==0:
#             break
#     else:
#         return True
#     return False

In [91]:
isprime(17)

True

In [92]:
isprime(4)

False

In [109]:
def isprime(n):
    for i in range(2,n):
        if n%i==0:
            break
    else:
        return True
    return False
def prime2toN(n):
    for j in range(2,n+1):
        if isprime(j):
            print(j)

In [112]:
prime2toN(50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# Scope of Variables

In [114]:
a1=10 #global variable
def f1():
    b1=12 #loocal variable
print(a1)
f1()
print(b1)   #b1 is not accessible outside of function

10

NameError: name 'b1' is not defined

In [115]:
a1=10 #global variable
def f1():
    b1=12 #loocal variable
    print(b1)
print(a1)
f1()
# print(b1)   #b1 is not accessible outside of function

10
12

In [117]:
a2=10 #global variable
def f2():
    b1=12 #loocal variable
    print(b1)
    print(a2)
print(a2)
f2()

10
12
10

In [118]:
#We can access global variable only if defined before the function call
a2=10 #global variable
def f2():
    b1=12 #loocal variable
    print(b1)
    print(a2)
    print(c3)
print(a2)
f2()
c3=20

10
12
10

NameError: name 'c3' is not defined

In [119]:
a4=13 #global variable
def f4():
    a4=12
    print(a4)
    print(id(a4))
print(a4)
f4()
print(a4)
print(id(a4))

13
12
2016451887696
13
2016451887728

In [120]:
a4=13 #global variable
def f4():
    global a4
    a4=12
    print(a4)
    print(id(a4))
print(a4)
f4()
print(a4)
print(id(a4))

13
12
2016451887696
12
2016451887696

# Default parameters in function

In [1]:
# Minimum 1 argument is required to call the function
def f(n):
    print(n)
f()

TypeError: f() missing 1 required positional argument: 'n'

In [2]:
# Equal no of arguments required in fuction call and function definition to call the function  
def f(n):
    print(n)
f(2,3)

TypeError: f() takes 1 positional argument but 2 were given

In [ ]:
def sum(a,b):
    return a+b

def sum1(a,b,c):
    return a+b+c

In [6]:

def sum2(a,b,c=0):
    print(c)
    return a+b+c

In [7]:
print(sum2(1,2))
print(sum2(1,2,4))

0
3
4
7

In [8]:
# Non default arguments must be defined first then default arguments
def sum3(a=0,b,c)
    return a+b+c
sum3(1,2)

SyntaxError: non-default argument follows default argument (2000578618.py, line 1)

In [16]:
def f1(a,b,c=1,d=3):
    return a+b+c+d
print(f1(1,2))
print(f1(1,2,3))           # takes d=3 as defult argument
print(f1(1,2,3,4))        # takes all non default arguments
print(f1(1,2,c=4,d=5))   # c and d value defined in function call
print(f1(d=1,c=2,a=4,b=3)) #order doesn't matter

7
9
10
12
10

In [11]:
#confusing for computer to understand
def f2(a=1,b=2,c,d):
    return a+b+c+d
print(f1(1,2))

SyntaxError: non-default argument follows default argument (1531461578.py, line 1)

# Creating an array

In [1]:
import array

In [5]:
numbers=array.array('i',[1,2,3,4])

In [6]:
print(numbers)

array('i', [1, 2, 3, 4])

In [7]:
numbers.append(10)

In [8]:
print(numbers)

array('i', [1, 2, 3, 4, 10])

In [9]:
print(f"first number:{numbers[0]}")

first number:1

In [11]:
print(f"first number:"+str(numbers[0]))

first number:1

In [12]:
print(f"Second number:{numbers[1]}")

Second number:2

In [14]:
# Removes last element in the array
print(numbers)
numbers.pop()
print(numbers)
# Removes element at index 1
numbers.pop(1)
print(numbers)

array('i', [1, 2, 3, 4])
array('i', [1, 2, 3])
array('i', [1, 3])

In [15]:
arr=array.array('i',[1,2,3,4])

In [16]:
for item in arr:
    print(item)

1
2
3
4

In [17]:
#Sum of elements of an array
sum=0
for item in arr:
    sum=sum+item
print(sum)

10

In [18]:
# Storing double values in array
percentages=array.array('d',[80.23,90.12,60.21,58.40])
print(percentages)

array('d', [80.23, 90.12, 60.21, 58.4])

# List Operations

In [19]:
nums=[1,2,3,4]
print(nums)
print(type(nums))

[1, 2, 3, 4]
<class 'list'>

In [21]:
import array as arr
my_array=arr.array("i",[1,2,3])
print(my_array, type(my_array))
my_list=list(my_array)
print(my_list, type(my_list))

array('i', [1, 2, 3]) <class 'array.array'>
[1, 2, 3] <class 'list'>

In [22]:
nums=[1,2,3,4]
nums.append(5)
print(nums)

[1, 2, 3, 4, 5]

In [29]:
print(nums)
nums.pop()
print(nums)
nums.pop(1)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 3, 4]

In [24]:
print(f"first element is: {nums[0]}")

first element is: 1

In [ ]:
# Positive indexing: 0,1,2,3,...n-1
# Negative indexing: -1,-2,-3,...-n

In [25]:
print(f"Last element is: {nums[-1]}")

Last element is: 5

In [28]:
random_number=[1,2,"ram","soham",2.34]
print(random_number)
print(random_number[-1])
print(random_number[-2])

[1, 2, 'ram', 'soham', 2.34]
2.34
soham

In [31]:
total=0
marks=[2,3,4,5]
for i in marks:
    total+=i
print(total)

14

In [33]:
# Approach 2
total=0
marks=[2,3,4,5]
for i in range(len(marks)):
    total+=marks[i]
print(total)

14

# Adding, Removing and Searching in a list

In [ ]:
"""
Adding:
append - Adds an element at the end of the list
insert - Insert at any position in the list
extend - concatenation of two lists

Removing:
pop- removes by default the last element, if index is passed removes value at that index
remove- remmoves the first occurence of element and raises a value error if that value is not present
clear- clears the list remove all elements

Others:
copy-creates a copy of the list
index-finds index where element occurs for the first time and raises a value error when index is not there
reverse-reverse a list
sort-sort the list in ascending order by default
+ -
* -



"""

In [39]:
nums=[1,2]
nums.append(3)
print(nums)

[1, 2, 3]

In [40]:
nums.insert(1,5)  # index 1 value 5
print(nums)

[1, 5, 2, 3]

In [41]:
nums.extend([10,13,12])
print(nums)

[1, 5, 2, 3, 10, 13, 12]

In [42]:
nums=[1,2,3,4,5]
nums.pop()
print(nums)
nums.pop(2)
print(nums)

[1, 2, 3, 4]
[1, 2, 4]

In [43]:
nums=[2,1,3,4,1,5,6,2]
nums.remove(1)
print(nums)

[2, 3, 4, 1, 5, 6, 2]

In [44]:
nums.remove(10)
print(nums)

ValueError: list.remove(x): x not in list

In [45]:
nums=[2,1,3,4,1,5,6,2]
nums.clear()
print(nums)

[]

In [54]:
nums=[1,2,3,4]
nums2=nums   #just creates a different name for nums
print(nums2)

[1, 2, 3, 4]

In [55]:
nums.pop()

4

In [56]:
print(nums2)

[1, 2, 3]

In [57]:
print(nums)

[1, 2, 3]

In [58]:
nums=[1,2,3,4]
nums2=nums.copy()
nums2.pop()
print(nums2)
print(nums)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
"""
equal to operation
nums=[1,2,3,4]  address ----> 1000
nums2  address---> 1000

copy operation
nums=[1,2,3,4]  address ----> 1000
nums2  address---> 4000

"""

In [59]:
nums=[1,2,3,2,4]
nums.index(2)

1

In [60]:
nums.index(5)

ValueError: 5 is not in list

In [61]:
nums=[1,2,3,2,4]
nums.reverse()
print(nums)

[4, 2, 3, 2, 1]

In [62]:
nums.sort()

In [63]:
print(nums)

[1, 2, 2, 3, 4]

In [66]:
nums=[1,2,3]
nums2=nums*3
print(nums)
print(nums2)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [67]:
nums1=[1,2]
nums2=[3,4]
nums=nums1+nums2
print(nums)

[1, 2, 3, 4]

In [68]:
nums1=[1,2]
nums2=[3,4]
nums=nums1+3*nums2
print(nums)

[1, 2, 3, 4, 3, 4, 3, 4]

# Slicing

In [69]:
# We want to keep only elements except first and last element
nums=[1,2,3,4]
nums2=[]
for i in range(1,len(nums)-1):
    nums2.append(nums[i])
print(nums2)

[2, 3]

In [70]:
nums=[1,2,3,4]
nums2=nums[1:len(nums)-1]
print(nums2)

[2, 3]

In [71]:
nums2=nums[1:4]

In [72]:
print(nums2)

[2, 3, 4]

In [ ]:
# [i:j]----> [i,i+1,i+2....j-1]

In [73]:
nums=[1,2,3,4,5,6]
nums2=nums[:-2] #removes last two elements
print(nums2)

[1, 2, 3, 4]

In [74]:
nums3=nums[2:] #removes starting  two elements

In [76]:
print(nums3)

[3, 4, 5, 6]

# Largest element in a list

In [78]:
n=input()
print(n)
print(type(n))

 1 3 5 7

1 3 5 7
<class 'str'>

In [79]:
marks=map(int,input().split(" "))

 1 2 3 4 5

In [80]:
print(marks)
print(type(marks))

<map object at 0x0000022DA3929EA0>
<class 'map'>

In [83]:
marks=list(map(int,input().split( ))  # Taking list of elements as an input
max_marks=marks[0]
for m in marks:
    max_marks=max(m,max_marks)
print(max_marks)

 85 15 27 91

91

# Palindrome

In [5]:
nums=list(map(int,input().split(" ")))

 1 2 3 4

In [7]:
nums_reverse=nums.copy()

In [8]:
nums_reverse.reverse()

In [10]:
is_palindrome=True
for i in range(len(nums)):
    if nums[i]!=nums_reverse[i]:
        is_palindrome=False
        break
if is_palindrome:
    print("String is palindrome")
else:
    print("String is not palindrome")

String is not palindrome

In [11]:
# Approach 2
nums=list(map(int,input().split(" ")))
n=len(nums)
l_ptr=0
r_ptr=len(nums)-1
is_palindrome=True
while l_ptr<=n/2:
    if nums[l_ptr]!=nums[r_ptr]:
        is_palindrome=False
        break
    l_ptr+=1
    r_ptr-=1

if is_palindrome:
    print("String is palindrome")
else:
    print("String is not palindrome")

 1 2 3 2 1

String is palindrome

# Rearrange numbers code

In [12]:
# Rearranging even number at one place and odd numbers after that
arr=list(map(int,input().split(" ")))
def arrange_even_odd(arr1):
    first_odd_index=0
    for i in range(len(arr1)):
        if arr1[i]%2==0:
            arr1[i],arr1[first_odd_index]=arr1[first_odd_index],arr1[i]
            first_odd_index+=1
    return arr1
print(arrange_even_odd(arr))

 1 2 4 3 3 5 6 7 4 2 9 11 16

[2, 4, 6, 4, 2, 16, 1, 7, 3, 3, 9, 11, 5]

In [13]:
arr=list(map(int,input().split(" ")))
def arrange_even_odd(arr1):
    first_even_index=0
    for i in range(len(arr1)):
        if arr1[i]%2!=0:
            arr1[i],arr1[first_even_index]=arr1[first_even_index],arr1[i]
            first_even_index+=1
    return arr1
print(arrange_even_odd(arr))

 1 2 4 5 7 8 9 5

[1, 5, 7, 9, 5, 8, 2, 4]

# Pair Sum

In [7]:
arr=[1,3,6,2,5,4,3,2,4]
count=0
x=7
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[j]+arr[i]==x:
            count+=1
print(count)

7

In [25]:
a=[3,7,4,3,4]
def sum_of_array(arr):
    total=0
    for i in arr:
        total+=i
    return total
print((2*sum_of_array(set(a)))-sum_of_array(a))

7

In [13]:
arr3=[]
arr1=[2,6,8,5,4,3]
arr2=[2,3,4,7]
for i in arr1:
    for j in arr2:
        if i==j:
            arr3.append(i)
print(arr3)
list(set(arr2) & set(arr1))
result = [i for i in arr1 if i in arr2]
print(result)

[2, 4, 3]
[2, 4, 3]

## Binary Search

In [14]:
def binary_search(array,element,debug=False):
    lower_bound=0
    upper_bound=len(array)-1
    while lower_bound<=upper_bound:
        middle=(lower_bound+upper_bound)//2 #integer
        if debug:
            print("Lower Bound",lower_bound)
            print("upper Bound",upper_bound)
            print("Middle",middle)
        if element==array[middle]:
            return "Your Value is found at middle at index",middle
        elif element<array[middle]: #Lesser condition
            #no change in lower bound
            upper_bound=middle-1
        else:#greater condition
            #upper bound remains same
            lower_bound=middle+1 
    return "Your element isn't available in the array"

In [15]:
array=[12,34,45,56,67,89]
x1=56
x2=57
binary_search(array,x1,debug=True)

Lower Bound 0
upper Bound 5
Middle 2
Lower Bound 3
upper Bound 5
Middle 4
Lower Bound 3
upper Bound 3
Middle 3

('Your Value is found at middle at index', 3)

In [16]:
array=[12,34,45,56,56,56,56,56,67,89]
x1=56
x2=57
binary_search(array,x1,debug=True)

Lower Bound 0
upper Bound 9
Middle 4

('Your Value is found at middle at index', 4)

In [27]:
ats=[2,1,3,4,1,3,6]
for i in range(len(ats)):
    min=ats[i]
    j=i+1
    while j<(len(ats)):
        if ats[j]<min:
            min=ats[j]
            ats[i],ats[j]=ats[j],ats[i]
        j+=1
print(ats)

[1, 1, 2, 3, 3, 4, 6]

# Selection Sort

In [ ]:
def selection_sort(A):
    for i in range(len(A)):
        min_index=i
        for j in range(i+1,len(A)):
            if A[j]<A[min_index]:
                min_index=j
        A[i],A[min_index]=A[min_index],A[i]
    return A

selection_sort([13,4,9,5,3])

## Bubble Sort

In [30]:
def bubble_sort(a):
    for i in range(len(a)):
        print("This is pass -",i)
        for j in range(len(a)-1):
            if a[j]>a[j+1]:
                print("The pair is",a[j],"and ",a[j+1])
                a[j],a[j+1]=a[j+1],a[j]
    return a

bubble_sort([8,5,3,1])

This is pass - 0
The pair is 8 and  5
The pair is 8 and  3
The pair is 8 and  1
This is pass - 1
The pair is 5 and  3
The pair is 5 and  1
This is pass - 2
The pair is 3 and  1
This is pass - 3

[1, 3, 5, 8]

## Optimised Bubble sort

In [31]:
def bubble_sort(array):
    for i in range(len(array)-1):
        for j in range(len(array)-1-i):
            if array[j]>array[j+1]:
                array[j],array[j+1]=array[j+1],array[j]
    return array
bubble_sort([9,5,7,3,1,4])

[1, 3, 4, 5, 7, 9]

In [ ]:
def bubble_sort(array):
    for i in range(len(array)-1):
        for j in range(len(array-1-i)):
            if arr[j]>z

# Insertion Sort

In [2]:
arr=[8,5,3,1]
i=1
while i<=len(arr)-1:
    j=1
    while j<=i:
        if arr[i-j+1]<arr[i-j]:
            arr[i-j+1],arr[i-j]=arr[i-j],arr[i-j+1]
        j+=1
    i+=1
print(arr)

[1, 3, 5, 8]

# Merging two Sorted arrays

In [2]:
a1=[1,3,4,7,11]
a2=[4,9,11,13]
a3=[]
i,j=0,0
while i<len(a1) and j<len(a2):
    if a1[i]<a2[j]:
        a3.append(a1[i])
        i+=1
    else:
        a3.append(a2[j])
        j+=1
while j<len(a2):
    a3.append(a2[j])
    j+=1
while i<len(a1):
    a3.append(a1[i])
    i+=1
print(a3)

[1, 3, 4, 4, 7, 9, 11, 11, 13]

In [3]:
def mergetwoarray(a1,a2,debug=False):
    i,j=0,0
    len1,len2=len(a1),len(a2)
    new_array=[]
    while(i<len1 and j<len2):
        if a1[i]<a2[j]:
            new_array.append(a1[i])
            i=i+1
        else:
            new_array.append(a2[j])
            j=j+1
    while(i<len1):
        new_array.append(a1[i])
        i=i+1
    while(j<len2):
        new_array.append(a2[j])
        j=j+1
    return new_array

a1=[1,3,4,7,11]
a2=[4,9,11,13]
mergetwoarray(a1,a2,debug=False)

[1, 3, 4, 4, 7, 9, 11, 11, 13]

In [19]:
b=[1,2,3,4,5,6,7]
d=2
i=0
while i<d:
    b.append(b[0])
    b.pop(0)
    i+=1
# j=0
# while j<d:
#     b.pop(0)
#     j+=1
print(b)

[3, 4, 5, 6, 7, 1, 2]

In [20]:
b[3:]

[6, 7, 1, 2]

In [25]:
b=[1,2,3,4,5,6,7]
d=2

In [24]:
b[d:]+b[:d]

[3, 4, 5, 6, 7, 1, 2]

In [36]:
def rev(a):
    for i in range(len(a)//2):
        n=len(a)
        a[i],a[n-i-1]=a[n-i-1],a[i]
    return a
print(rev([1,2,3,4]))

[4, 3, 2, 1]

In [34]:
5//2

2

## Rotation of array

In [37]:
def rotate(arr, n, d):
    if n!=0:
        d=d%n
    # Reversing the entire list
    for i in range(n//2):
        arr[i],arr[n-i-1]=arr[n-i-1],arr[i]
    # Reversing 1&t part n-d elements
    for i in range((n-d)//2):
        arr[i],arr[n-d-i-1]=arr[n-d-i-1],arr[i]
    # Reversing 2nd part d elements
    for i in range(d//2):
        arr[n-d+i],arr[n-i-1]=arr[n-i-1],arr[n-d+i]
    return arr

In [38]:
rotate([1,3,6,11,12,17],6,4)

[12, 17, 1, 3, 6, 11]

## Strings

In [1]:
s="Parikh"
print(s)

Parikh

In [2]:
s='Parikh'
s='''Parikh'''
print(s)

Parikh

In [3]:
s="My
Name Is Parikh"
print(s)

SyntaxError: unterminated string literal (detected at line 1) (2004380269.py, line 1)

In [4]:
s='''My
Name Is Parikh
'''
print(s)

My
Name Is Parikh

In [8]:
s="Parikh"
print(s[0])
print(s[1])

P
a

In [9]:
print(s[9])

IndexError: string index out of range

In [11]:
print(s[-1])
print(s[-2])

h
k

In [12]:
print(s[-9])

IndexError: string index out of range

In [13]:
s='''My
Name Is Parikh
'''

In [16]:
print(s[0])
print(s[2])  #space
print(s)

M


My
Name Is Parikh

## How strings are stored

In [17]:
s="parikh"

In [18]:
id(s)

1680333897456

In [21]:
a="rohan"

In [22]:
id(a)

1680334064624

In [23]:
a="parikh"

In [24]:
id(a)

1680333897456

In [25]:
id(s)

1680333897456

# Strings are immutable in python

In [27]:
a="Parikh"

In [29]:
a[0]='k'

TypeError: 'str' object does not support item assignment

In [30]:
a="karikh" #possible

## Concatenation of string

In [32]:
a="red"
a

'red'

In [33]:
a=a+ "blue"
a

'redblue'

In [34]:
a=a+"blue"+"green"
a

'redbluebluegreen'

In [35]:
a+="red"
a

'redbluebluegreenred'

In [36]:
id(a)

1680334466832

In [37]:
a+="yellow"
id(a)

1680303744512

In [38]:
a="blue"
a=a*3
a

'blueblueblue'

In [39]:
a=a*3
a

'blueblueblueblueblueblueblueblueblue'

In [40]:
a=a*1
a

'blueblueblueblueblueblueblueblueblue'

In [41]:
a=a*2
a

'blueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblueblue'

In [42]:
id(a)

1680334105008

In [43]:
a="red"
a=a+3

TypeError: can only concatenate str (not "int") to str

In [44]:
a=a+str(3)
a

'red3'

## Slicing of strings

In [45]:
s="Parikh"

In [46]:
s[1:4]

'ari'

In [47]:
s[1:4:2]

'ai'

In [48]:
s[6:4]

''

In [49]:
s[-1]

'h'

In [50]:
s[-5:-3]

'ar'

In [51]:
s[:4]

'Pari'

In [52]:
s[1:9]

'arikh'

In [53]:
s[4:1:-1]

'kir'

In [54]:
s[5::-1]

'hkiraP'

In [55]:
s[:2:-1]

'hki'

In [56]:
s=s[5::-1]
s

'hkiraP'

In [57]:
s[5:2:-2]
s

'hkiraP'

## Iterating on strings

In [1]:
str="Hello World"
count=0
for letter in str:#on each character of string
    if letter=='l':
        count=count+1
print(count)

3

In [2]:
count=0
for i in range(len(str)):#index wise
    if(str[i]=='l'):
        count=count+1
print(count)

3

In [3]:
str="hello"

if 'hel' in str:
    print("Yes it is a substring")
else:
    print("Not a substring")

Yes it is a substring

In [4]:
if 'heo' in str:
    print("Yes it is a substring")
else:
    print("Not a substring")

Not a substring

In [5]:
if 'heo' not in str:
    print("Yes it is not a substring")
else:
    print("Not a substring")

Yes it is not a substring

## Comparision operator on strings

### Compared based on ASCII values

In [7]:
a="Parikh" == "Parikh"
a

True

In [9]:
a="Rarikh" >= "Parikh"
a

True

In [10]:
a="Pbrikh" >="Parikh"
a

True

In [11]:
a="parikh" >= "parikh"
a

True

In [12]:
a="par" >= "parikh"
a

False

In [13]:
"parikh" >= "par"

True

In [14]:
"parikh" >= "parikh"

True

In [15]:
"parikh" > "parikh"

False

In [16]:
"parikh" != "parikh"

False

In [17]:
"par" != "parikh"

True

## Operations on strings

In [18]:
str="My Name Is Parikh"
li=str.split()#Return a list of strings
print(li)

['My', 'Name', 'Is', 'Parikh']

In [19]:
str="My,Name, Is, Parikh"
li=str.split(',')#delimiter
print(li)

['My', 'Name', ' Is', ' Parikh']

In [20]:
str="My,Name, Is, Parikh"
li=str.split(',',1)
print(li)

['My', 'Name, Is, Parikh']

In [21]:
str="My,Name, Is, Parikh"
li=str.split(',',2)
print(li)

['My', 'Name', ' Is, Parikh']

In [22]:
str="My Name Is Parikh"
str=str.replace("Parikh","Rohan")
print(str)

My Name Is Rohan

In [23]:
str="My Name Is Parikh"
str=str.replace("Which","Rohan")
print(str)

My Name Is Parikh

In [24]:
str="My Name Is Parikh Parikh Parikh"
str=str.replace("Parikh","Rohan",2)
print(str)

My Name Is Rohan Rohan Parikh

In [25]:
str="My Name Is Parikh Parikh Parikh"
str=str.replace("Parikh","Rohan",2)
print(str)

My Name Is Rohan Rohan Parikh

In [26]:
str="My Name Is Parikh"
index=str.find("Na")
print(index)

3

In [27]:
str="My Name Is Parikh"
index=str.find("Nae")
print(index)

-1

In [28]:
str="My Name Is Parikh Parikh"
index=str.find("Par")
print(index)

11

In [29]:
str="My Name Is Parikh Parikh"
index=str.find("Par",16,21)
print(index)

18

In [30]:
str="My Name Is Parikh"
str=str.lower()
print(str)
str=str.upper()
print(str)

my name is parikh
MY NAME IS PARIKH

In [31]:
str="My Name Is Parikh"
ans=str.startswith("My Na")
print(ans)

True

In [32]:
str="My Name Is Parikh"
ans=str.startswith("My Nae")
print(ans)

False

In [33]:
str="My Name Is Parikh"
ans=str.startswith("Pae",11,25)
print(ans)

False

In [34]:
str="My Name Is Parikh"
ans=str.startswith("Pa",11,25)
print(ans)

True

In [35]:
str="My Name Is Parikh"
ans=str.endswith("ikh")
print(ans)

True

## Replacing character in a string

In [36]:
def replace(str,char1,char2):
    
    newStr=""
    for char in str:
        if(char==char1):
            newStr+=char2
        else:
            newStr+=char
    return newStr
    
str="fsafsavxz"
str=replace(str,'s','d')
print(str)

fdafdavxz

## Counting vowels,constants,digits and special characters

In [37]:
def countInString(str):
    v,c,d,s=0,0,0,0
    for char in str:
        if((char>='a' and char<='z')or (char>='A' and char<='Z')):
            char=char.lower()
            if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
                v+=1
            else:
                c+=1
        elif(char>='0' and char<='9'):
            d+=1
        else:
            s+=1
    return v,c,d,s
str='sfsaAFsawurioq2412141dsafd!@ afsa421'
type(str[0])
v,c,d,s=countInString(str)
print(v,c,d,s)

9 14 10 3

In [41]:
string1="abcdef"
string2="efdabc"
if len(string1)!=len(string2):
    print("false")
else:
    for i in string1:
        if i not in string2:
            print("false")
    else:
        print("true")

true

In [50]:
str="abbbbcddef"
def char_count(str,ch):
    count=0
    for i in str:
        if i==ch:
            count+=1
    return count
lst=[]
for i in str:
    if i not in lst:
        lst.append(i)
chr_count_lst=[]
for i in lst:
    chr_count_lst.append(char_count(str,i))
max_count=max(chr_count_lst)
print(max_count)
for i in range(len(chr_count_lst)):
    if chr_count_lst[i]==max_count:
        print(lst[i])

1
x
y

In [52]:
str="abbbbcddef"
str.count("b")

4

In [53]:
count=0
for i in str:
    count+=ord(i)
print(count)

991

## 2D Arrays/Lists

### Creating a 2D array

In [2]:
# arr=[1,2,3,4]
matrix=[[1,2,3,4],[1,2,7,10],[3,2,5,6]]
matrix[1][2]

7

In [3]:
n=4
m=3
matrix=[[0 for _ in range(m)] for _ in range(n)]

In [4]:
matrix

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [5]:
60+120+39+47

266

### Jugged lists and list comprehension

In [6]:
# 3*3 n*n n*m (4*5)
#
# 0-->3 , 1-->5, 2-->1 , 3-->4
matrix=[[1,2,3],[4,5,6,7,8],[9],[10,11,12,13]]
matrix

[[1, 2, 3], [4, 5, 6, 7, 8], [9], [10, 11, 12, 13]]

In [ ]:
# [transform(el) for el in anotherarray if condition]

In [7]:
numbers=[1,2,3,4,5,6,7]
square_of_even_numbers = [num**2 for num in numbers if num%2==0]
square_of_even_numbers

[4, 16, 36]

In [8]:
numbers =[5,10,12, 16,22,28]
# Add 10 to all the numbers that are divisible by 5 and create a new list
new_lst=[nums+10 for nums in numbers if nums%5==0]
new_lst

[15, 20]

In [10]:
n=4
m=6
row =[i for i in range(m)]
matrix =[row for _ in range(n)]
print(matrix)

[[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]

In [13]:
num_cols=[2,3,4,1,2]
matrix=[[0 for _ in range(num_cols[i])] for i in range(len(num_cols))]
print(matrix)

[[0, 0], [0, 0, 0], [0, 0, 0, 0], [0], [0, 0]]